.App {

}

.App p {
  padding-left:10px;
  padding-right:10px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: white;
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.uploader {
  outline: 2px dashed gray;
  height:60px;
  padding:40px;
  margin: 10px;
  text-align: center;
}

.form {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
